body{
    margin: 0;
    background-color: rgb(39, 46, 46);
}
img
{
    width: 30px;
    height: 30px;
}
.heading{
    height: 170px;
    position: relative;
    background-color: #aa1446;
    box-shadow: 3px #000000;

}

.heading .center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
}

.heading .center h1 { 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
    font-size:45px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 900;
    text-shadow: 3px 3px 5px #0e0d0d; 
}

.process{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 20px 40px;
    animation-name: slidein;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    z-index: 100;
}

@keyframes slidein
{
    from
    {
        margin-left: 20px;
        background-color: darkcyan;
    }
    31.66%
    {
        background-color: cornflowerblue;
    }
    82%
    {
        background-color: red;
    }
    to
    {
        margin-left: 442%;
        background-color: cadetblue;
    }
}

#processCon
{
    display: flex;
    margin: 20px;
}

#stage
{
    display: flex;
    flex-direction: column;
    /* padding-top: 50px; */
    
}

#stage, #queue, #entry, #critical, #exit
{
    width: 10%;
    /* height:; */
    border: 1px rgb(39, 46, 46)
}

#start
{
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: 450px;
    float: left;
}

#reset
{
    float: left;
    margin-left: 20px;
}

#home
{
    margin-top: 0%;
    margin-left: 20px;
    float: left;
}
button
{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #aa1446;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 9px #999; */
}
#activity
{
    display: flex;
    /* height: 1000px; */
    width: 39%;
}

.space
{
    width: 150px;
}

#semaphore
{
    padding-left: 14.36%;
    padding-top: 5px;
    display: flex;
    /* align-items: left; */
    /* justify-content: center; */
    width: 50%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(243, 211, 241);
}

#status
{
    width: 100%;
    max-height: 300px;
    overflow: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(243, 211, 241);
    border: 1px white;
}
#properties
{
    overflow: auto;
    width: auto;
    height: max-content;
    position: absolute;
    top: 500px;
    color: #fff;
}

.tb
{
    /* border: 2px; */
    /* border-style: dashed; */
    font-size: xx-large;
    border-width: 2px;
    border-spacing: 7px;
    padding-left: 20px;
}


.tab1
{
    border-color: black;
    border-width: 1px;

}

.tab
{
    float: left;
    width: 20px;
}